#fromText{
    margin-top: 100px;
    width:500px;
    height:200px;
    font-size:26px;
}
#translatedText {
    margin-top: 100px;
}
#audio{
    margin-top:1000px;
}
#textInputAlter{
    width:500px;
    height:300px;
}
#info{

}
#mainTr{

    width:550px;
    height:500px;
}
#InfoDiv {
    width: 550px;
    height: 500px;


}
#BigDiv{
    display:flex;
    width:1400px;
    height:600px;
}