@page
@model Morse.Views.Main.IndexModel
@{
}
<h3>
    Hey ,glad you made it here , I'm stocked with you checking out my pet project   <br />
    <small class="text-muted">If you wan't to get straight into action click "Translate"</small>
</h3>
<br />
<h4>If you're currious about my other projects or about me ,then you should checkout these links)</h4>
<br />
<a   href="https://github.com/Andrew-Horoshko" ><h6>GitHub</h6></a>
<br />
<a href="https://www.instagram.com/vsegda_ystalui/"><h6>Instagram </h6></a>
